<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>190202275925-en0apee0vmcsd63iu1rfe35hn5hq3cgc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.190202275925-en0apee0vmcsd63iu1rfe35hn5hq3cgc</string>
	<key>API_KEY</key>
	<string>AIzaSyD8nmlEmZnuN6A8v2Bt6i79o5UWAYC1zGc</string>
	<key>GCM_SENDER_ID</key>
	<string>190202275925</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>avadh.IntrotuceDemo</string>
	<key>PROJECT_ID</key>
	<string>introtucedemo</string>
	<key>STORAGE_BUCKET</key>
	<string>introtucedemo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:190202275925:ios:f5cc93fc51f8137519ccdc</string>
</dict>
</plist>